/* Segoe UI font isn't safe for MacOS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@font-face
{
    font-family: "Segoe UI";
    src: url("../fonts/SegoeUIregular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "Segoe UI Bold";
    src: url("../fonts/SegoeUIbold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

body {
	font: 400 18px/1.67 'Segoe UI', 'Open Sans', sans-serif;
	background: #fff;
	color: #888a8b;
}

.ba-container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 980px;
}

.ba-top {
	background-color: #23232e;
	color: #fff;
	text-align: center;
	padding: 80px 0 277px;
	position: relative;
}

.ba-top p {
	width: 416px;
	margin: auto;
	text-align: center;
}

.ba-header {
	padding-bottom: 135px;
}

.ba-logo {
	display: inline-block;
}

.ba-title {
	font-size: 80px;
	font-weight: 700;
	margin: 0 0 23px;
	text-transform: uppercase;
}

.ba-scroll {
	width: 45px;
	height: 45px;
	background: url(../img/scroll.png);
	display: inline-block;
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin-left: -22px;
}

.ba-main {
	background: url(../img/bg.jpg);
	padding: 85px 0;
}

.ba-about {
	color: #464b4f;
	font-size: 30px;
	line-height: 1.4; /*42:30 */
	text-align: center;
	padding-bottom: 23px;
}

.ba-about .ba-container {
	max-width: 900px;
} 

.ba-about p:nth-of-type(1) {
	margin-bottom: 41px;
}

.ba-services h2 {
	margin: 0;
	color: #464b4f;
	font-size: 80px;
	font-weight: 700;
	line-height: 2.23;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
	}

.ba-col {
	display: inline-block;
	width: 32%;: 
}

.ba-col p {
	margin: 0; 
}

.ba-col:nth-of-type(2) {
	margin-left: 1.477%;
	margin-right: 1.477%; 
}

.ba-col h3 {
	font-size: 18px;
	text-transform: uppercase;
	color: #464b4f;
	font-weight: 700;
	line-height: 2.3;
	margin: 0 0 8px;
}